<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/loja.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/pictures/logo.png" rel="icon" type="image/x-icon">
    <title>HOME</title>
</head>

<body>
    <header class="header">
        <section>
            <a href="/" class="logo">
                <img src="/pictures/logo.png" width="130px" alt="logo">
            </a>

            <nav class="navbar">
                <a href="/">HOME</a>
                <a href="/loja">SHOP ALL</a>
                <a href="/sac">SAC</a>
                <a href="/sobre">SOBRE</a>
            </nav>

            <div class="icons">
                <a href="/login">
                   <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user.png" alt="user"/>
                </a>

                <a href="#" id="search-box">
                    <img width="30" height="30" src="https://img.icons8.com/ios/30/search--v1.png" alt="search--v1" />
                </a>

                <div id="search-container" style="display: none;">
                    <input type="text" id="search-input" placeholder="Digite sua busca..." />
                    <button id="search-btn">Buscar</button>
                </div>

                <a href="#" id="open-cart">
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/shopping-cart--v1.png" alt="carrinho" />
                </a>
            </div>
        </section>
    </header>

    <div class="home-container">
        <section id="home">
            <div class="container-image-model">
                <img src="/pictures/modelo/WhatsApp Image 2025-03-19 at 20.12.41.jpeg" width="798px" alt="">
            </div>
            <div class="content">
                <h3>AS MELHORES ROUPAS STREETWEAR DO BRASIL</h3>
                <p>Aqui é onde estilo encontra história... Você faz parte disso.</p>
                <a href="#" class="btn">COMPRE AGORA</a>
            </div>
        </section>
    </div>

    <section class="about" id="about">
        <h2 class="title">SOBRE <span>NÓS</span></h2>
        <div class="row">
            <div class="container-image">
                <img src="/pictures/image.png" width="850px" alt="sobre-nos">
            </div>
            <div class="content">
                <h3>O QUE FAZ SERMOS ESPECIAL?</h3>
                <p>O que nos torna especiais é nossa essência de rua...</p>
                <a href="#" class="btn">SAIBA MAIS</a>
            </div>
        </div>
    </section>

    <!-- PRODUTOS -->
    <section class="menu" id="menu">
        <h2 class="section-title">NOSSAS COLEÇÕES</h2>

        <div class="box-container">
            <div class="box">
                <img src="/pictures/camisas/camisaCarrinho5.png" alt="camisa-1" class="product-img">
                <h3 class="product-title">Camisa Streewear Caveiras</h3>
                <div class="price">R$180,00 <span>R$200,00</span></div>
                <a href="#" class="add-cart">Adicione ao carrinho</a>
            </div>

        </div>
    </section>

    <section class="review" id="review">
        <h2 class="title">NOSSOS CLIENTES</h2>

        <div class="box-container">
            <div class="box">
                <img src="/pictures/quote-img.png" alt="comentario">
                <p>Roupas incriveis, recomendo!</p>
                <img src="/pictures/veigh 1.jpg" alt="foto-cliente" class="user">
                <h3>Thiago Veigh</h3>
                <div class="stars">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/star--v1.png" />
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/star--v1.png" />
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/star--v1.png" />
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/star--v1.png" />
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/star-half-empty.png" />
                </div>
            </div>
        </div>
    </section>

	<section class="address" id="address">
	    <h2 class="title">NOSSO ENDEREÇO</h2>
	    <iframe
	        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116983.75771962224!2d-46.86833499296717!3d-23.613568712228727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57d8926c9889%3A0x9ea371de55db6f79!2sExclusiviist!5e0!3m2!1spt-BR!2sbr!4v1742411298855!5m2!1spt-BR!2sbr"
	        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
	        referrerpolicy="no-referrer-when-downgrade">
	    </iframe>
	</section>

    <section class="footer">
        <div class="share">
            <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/instagram-new--v1.png" />
        </div>

        <div class="cart">
            <h2 class="cart-title">CARRINHO DE COMPRA</h2>
            <div class="cart-content"></div>
            <div class="total">
                <div class="total-title">Total</div>
                <div class="total-price">R$200,00</div>
            </div>
            <button type="button" class="btn-buy">Compre agora</button>
            <i class='bx bx-x' id="close-cart"></i>
        </div>
    </section>

    <!-- SCRIPTS -->
    <script src="/scripts/loja.js"></script>
    <script src="/scripts/procura.js"></script>

</body>
</html>