<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/css/main.css}" rel="stylesheet">
    <link th:href="@{/styles/css/loja.css}"  rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link th:href="@{/pictures/logo.png}" rel="icon" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css" rel="stylesheet">

    <title>LOJA</title>
</head>

<body>
    <!-- NAVBAR -->
    <header class="header">
        <section>
           <a th:href="@{/}" class="logo">
                <img th:src="@{/pictures/logo.png}" width="130px" alt="logo">
            </a>

            <nav class="navbar">
                <a th:href="@{/}">HOME</a>
                <a th:href="@{/loja}">SHOP ALL</a>
                <a th:href="@{/sac}">SAC</a>
                <a th:href="@{/sobre}">SOBRE</a>
            </nav>

            <div class="icons">
                <a th:href="@{/login}">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAY..." alt="usuário">
                </a>

                <a href="#" id="search-box">
                    <img width="30" height="30" src="https://img.icons8.com/ios/30/search--v1.png" alt="search--v1" />
                </a>

                <div id="search-container" style="display: none;">
                    <input type="text" id="search-input" placeholder="Digite sua busca..."/>
                    <button id="search-btn">Buscar</button>
                </div>

                <a href="#" id="open-cart">
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/shopping-cart--v1.png" alt="carrinho" />
                </a>
            </div>
        </section>
    </header>

    <!-- PRODUTOS -->
    <section class="menu" id="menu">
        <h2 class="section-title">NOSSAS COLEÇÕES</h2>

        <div class="box-container">
            <!-- PRODUTOS -->
            <div class="box">
                <img th:src="@{/pictures/camisas/camisaCarrinho5.png}" alt="item-1" class="product-img">
                <h3 class="product-title">Camisa Streewear Caveiras</h3>
                <div class="price">R$180,00 <span>R$200,00</span></div>
                <a href="#" class="add-cart">Adicione ao carrinho</a>
            </div>

            <div class="box">
                <img th:src="@{/pictures/camisas/camisaCarrinho2.png}" alt="item-2" class="product-img">
                <h3 class="product-title">Camisa Streewear</h3>
                <div class="price">R$100,00 <span>R$200,00</span></div>
                <a href="#" class="add-cart">Adicione ao carrinho</a>
            </div>

            <div class="box">
                <img th:src="@{/pictures/camisas/camisaCarrinho3.png}" alt="item-3" class="product-img">
                <h3 class="product-title">Camisa Gengar</h3>
                <div class="price">R$90,00 <span>R$100,00</span></div>
                <a href="#" class="add-cart">Adicione ao carrinho</a>
            </div>

            <div class="box">
                <img th:src="@{/pictures/camisas/camisaCarrinho4.png}" alt="item-4" class="product-img">
                <h3 class="product-title">Camisa oversized</h3>
                <div class="price">R$50,00 <span>R$80,00</span></div>
                <a href="#" class="add-cart">Adicione ao carrinho</a>
            </div>

            <div class="box">
                <img th:src="@{/pictures/camisas/camisaCarrinho6.png}" alt="item-5" class="product-img">
                <h3 class="product-title">Camisa Streewear SZA</h3>
                <div class="price">R$50,00 <span>R$100,00</span></div>
                <a href="#" class="add-cart">Adicione ao carrinho</a>
            </div>

            <div class="box">
                <img th:src="@{/pictures/camisas/camisaCarrinho7.png}" alt="item-6" class="product-img">
                <h3 class="product-title">LOF1</h3>
                <div class="price">R$100,00 <span>R$200,00</span></div>
                <a href="#" class="add-cart">Adicione ao carrinho</a>
            </div>
        </div>
    </section>

    <!-- CARRINHO -->
    <div class="cart">
        <h2 class="cart-title">CARRINHO DE COMPRA</h2>
        <div class="cart-content"></div>

        <div class="total">
            <div class="total-title">Total</div>
            <div class="total-price">R$200,00</div>
        </div>

        <button type="button" class="btn-buy">Compre agora</button>
        <i class='bx bx-x' id="close-cart"></i>
    </div>

    <!-- SCRIPTS -->
    <script th:src="@{/scripts/loja.js}"></script>
    <script th:src="@{/scripts/procura.js}"></script>
</body>
</html>
